.carousel-inner{
  button{
    animation-delay: 1.5s;

  }
}

.carousel-text-box {
  max-width: 700px;
  animation-delay: 1.5s;

}
.item img{
    width: 100%;
}
.homebanner {
    width:100%;
    height:600px;
    background:#000;

}
.disclaimer{
  color: $text-color;
  font-weight: 100;
  font-size: 12px;
  padding-bottom: 10px;
}
.one{
    background: $first-panel no-repeat;
    background-size: cover;
    position: relative;

    .hand {
      position: absolute;
      bottom: 0;
    }

}

.two {
    height:650px;
    background: $second-panel no-repeat;
    background-size: cover;

}

.three {
    background: $third-panel no-repeat;
    background-size: cover;

}

@media(min-width:2560px){
  .carousel-text-box {
    position: absolute;
    top: 8%;
    left: 15%;
    z-index: 999;
    color: rgb(255, 255, 255);
    background: rgba(44, 44, 45, 0.7);
    padding: 20px 4%;
    margin: 0 35px 0 0;
}

.hero {
  position: absolute;
  visibility: hidden;
  top: 400px;
  right: 10%;
  color: #000;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
}

@media(min-width: 2000px){
  .carousel-btn {
    top: 35rem;
  }
}


@media(max-width:768px){

  .one {
    height:350px;
  }

  .two {
    height: 300px;
  }

  .three {
    height: 800px;
  }


}

.hero{
  position: absolute;
  visibility: hidden;
  top: 200px;
  right: 5%;
  color: #000;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.timed-event{
  position: relative;
  visibility: hidden;
  top: 150px;
  left: 60%;
  color: #000;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  overflow: hidden;
  max-width: 350px;
}

.show {
  visibility: visible;
}

@media(max-width:768px){
  .hero {
    top:250px;
    right:8%
  }


  .carousel-btn {
    top: 30rem;
  }

  .three{
    height:1200px;
  background:url('/Images/honeywell-control-anywhere-mobile.jpg') no-repeat;
  background-size: contain;
  background-position:center;

  }

  .two {
    height:550px;
    background:url('/Images/honeywell-mobile-2.jpg') no-repeat;
    background-size: contain;
    background-position:center;



  }
  .timed-event {
    top: 100px;
    width:150px;
    left:50%;
    overflow: hidden;
  }

  .one {
    height:600px;
    background:url('/Images/honeywell-mobile-3.jpg') no-repeat;
    background-size: contain;
    background-position:center;

  }


}

@media(max-width: 414px) {
  .carousel-text-box>.txt-big {
    font-size: 30px;
    padding-bottom:10px;
  }

  .carousel-text-box>.txt-small {
    font-size: 15px;
  }

  .carousel-text-box {
    top: 5%;
    left:8%;
  }

  .carousel-btn {
    top: 19rem;
    left: 17%;
}
.hero {
  top: 250px;
  left: 10%;
}

.one {
  height: 325px;
}

.info-box-content-areaes .info-box-content-area {
  padding:  0;
}

.two {
  height: 300px;
}

.timed-event {
  top: 20px;
}

.three{
  height:650px;
}
}

@media(max-width: 375px) {  
.hero {
  top: 245px;
  font-size: 18px;
  line-height: initial;
}
.carousel-btn {
  left: 16%;
}
.carousel-btn {
  padding: 8px 35px;
}

.timed-event {
  top:45px;
  font-size: 18px;
}
}

@media(max-width:360px) {
  .hero {
    top: 236px;
    font-size: 18px;
    line-height: initial;
}
.carousel-btn {
  top: 18.5rem;
}
}

@media(max-width:320px) {
  .carousel-text-box {
    top: 5%;
    left:3%;
  }
  .carousel-text-box > .txt-small {
    font-size: 12px
  }
  .carousel-text-box {
    padding: 10px 4%;
  }
  .carousel-btn {
    top:16rem;
    left:12%;
  }

  .hero.reveal.show.animated {
    display: none !important;
  }
}
