#shop{

    h1 {
        padding-bottom:40px;
    }


    @media(max-width:414px) {
        .product-box{
            margin-left:40px;
        }
    }

    @media(max-width:320px) {
        .product-box{
            margin-left: 0;
        }
    }
   
}

.add-to-cart {
        border-radius:20px !important;
        width:40px;
        transition: width .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    



    span{
        text-transform: uppercase;
        font-size: 15px

    }


}
